<ion-header>
  <ion-toolbar>
    <ion-title routerLink="/" class="site-title" style="font-size: medium; text-align: left; padding: 10px;"> alessandrofiordelmondo </ion-title>
    <!-- DESKTOP NAV -->
     <ion-buttons slot="end" class="desktop-nav">
      <ion-button routerLink="/about" [class.active-link]=" router.url === '/about'" style="--border-width: 0"> about </ion-button>
      <ion-button routerLink="/works" [class.active-link]=" router.url === '/works'" style="--border-width: 0"> works </ion-button>
      <ion-button  routerLink="/contacts" [class.active-link]=" router.url === '/contacts'" style="--border-width: 0"> contacts </ion-button>
    </ion-buttons>

    <!-- MOBILE MENU -->
     <ion-buttons slot="end" class="mobile-nav">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

