<ion-content>
  @if (timeline.length > 0) {
    <div class="timeline-container">
      @for (item of timeline; track $index) {
        <div class="timeline-entry">
          <!-- DATE -->
          <div class="timeline-date">
            {{ formatDate(item.startDate) }}
          </div>
          <!-- LINE -->
          <div class="timeline-line">
            <div class="timeline-dot"
                 [ngClass]="item.type">
            </div>
          </div>
          <!-- CONTENT -->
          <div class="timeline-card">
            <p class="timeline-type"> {{ item.type }} </p>
            <h2 class="timeline-title"> {{ item.title }} </h2>
            @if (item.subtitle) { <h4 class="timeline-subtitle"> {{ item.subtitle }} </h4> }
            @if (item.location) {<p class="timeline-location"> {{ item.location }} </p>}
            <p class="timeline-period">  @switch(item.type){@case ("publication") {Published on} @case ("repository") {Created on}} {{ item.startDate }} @if (item.ongoing) { — ongoing} @else if (item.endDate) {— {{ item.endDate }}}</p>

            @if (item.description) {<p class="timeline-description">{{ item.description }}</p>}

            @if (item.url) {<a class="timeline-link" [href]="item.url" target="_blank"> {{item.url}}</a>}
          </div>
        </div>
      }
    </div>
  }
</ion-content>