/* GENERAL */
ion-grid {
  width: 90%;
//   margin: auto;
//   padding-top: 30px;
}



/* REMOVE IONIC PADDING */
ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}


/* TITLE */
.title {
  font-size: 1rem;
//   margin-bottom: 0px;
}


/* HEADERS */

h3 {
  font-size: 0.9rem;
//   margin-top: 25px;
  margin-bottom: 10px;
  opacity: 0.8;
}


/* PARAGRAPHS */

p {
  margin: 4px 0;
  line-height: 1.4;
  font-size: 0.75rem;
}


/* LINKS */

a {
//   text-decoration: none;
  color: inherit;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

.logo-img{
    width: 200px;
    margin-top: 10px;
}

/* MOBILE */

@media (max-width: 768px) {

  ion-grid {
    width: 95%;
  }

  .title {
    font-size: 1.5rem;
  }

  h3 {
    margin-top: 18px;
  }

}