<!-- <app-header></app-header> -->

<ion-content [fullscreen]="true">
  @if (data; as d) {
    @for ( ex of data.exhibition; track $index ) {
      
      @if(ex.style==0){
        <!--STYLE 0-->
        <ion-row class="exhibition-row">

          <!-- DATE -->
          <ion-col sizeMd="7" sizeXs="12">
            <span class="date">{{ex.startDate}}</span>
            @if (ex.endDate || ex.ongoing){
              @if(ex.ongoing){ <span class="date"> - ongoning</span>} 
              @else {<span class="date"> - {{ex.endDate}}</span>}
            }

            <br>
            
            <!-- TITLE -->
            <h2 class="title"> <strong> {{ex.title}} </strong> </h2> 
            <h4 class="type"> {{ex.type}} </h4>
            
            <!-- AUTHORS or PIECES -->
             @if(ex.authors){<h5 class="author"> <b>authors</b>: {{ex.authors}} </h5>}
             
             @if (ex.pieces){
              <h5 class="programme">Programme</h5>
              @for (p of ex.pieces; track $index){
                <p class="programma-title"> <i>{{p.title}}</i> ({{p.year}}) by {{p.authors}}</p>
                <p class="programma-inst">for {{p.instrument}}</p> 
              }
             }
            
            <!-- REPLICAS -->
            @if(ex.replicas.length>1){
              @for (rep of ex.replicas; track $index) {
                @if(rep.date.length>1){<span class="event">{{ rep.date[0] }} - {{rep.date[1]}}</span>}
                @else {<span class="event">{{ rep.date[0] }}</span>}
                @if (rep.event) { <span class="event"> · {{ rep.event }}</span>}
                <span class="event"> · {{ rep.venue }} - {{ rep.location }} </span> 
                @if (rep.organizedBy){<span class="event"> | <i>Organized by {{rep.organizedBy}}</i> </span>}   
                <br>
              }
            }
            @else {
              @if (ex.replicas[0].event){ <p class="event"> {{ ex.replicas[0].event }} </p>}
              <p class="event"> {{ ex.replicas[0].venue }} - {{ ex.replicas[0].location }}</p>
            }
            <br>

            <!-- DESCRIPTION -->
            <p class="normal-text">{{ex.description.primary}}</p>
            <br>

            <!-- CREDITS -->
            @if(ex.description.credits){
              <h5 class="credits-title">Credits</h5>
              <p class="normal-text">{{ex.description.credits}}</p>
            }

            <!-- PROMOTED BY -->
            @if (ex.promotedBy){
              <br><p class="normal-text"><strong>Promoted by</strong> {{ex.promotedBy}}</p>
            }

            <!-- URLs -->
            @if(ex.url){
              <br>
              @for(url of ex.url; track $index){
                <p class="normal-text"><b>{{url.name}} </b>: <a [href]="url.url"> {{url.url}} </a></p>
              }
            }
        </ion-col>
        
        <ion-col sizeMd="5" sizeXs="12" class="image-column">
          @if(ex.images.length > 1){
            <div class="gallery">
              @for(img of ex.images; track $index){<ion-img [src]="'assets/data/' + img.path" [alt]="img.name"></ion-img>}
            </div>
          } @else {<ion-img [src]="'assets/data/' + ex.images[0].path"></ion-img>}
        </ion-col>
      
      </ion-row>
      } 
      @if(ex.style==1){ }
    }
  }
</ion-content>
